<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #setup+.setup {
            display: none
        }

        #setup:checked+.setup {
            display: block
        }
    </style>
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        white: '#FFFFFF',
                        yellow: '#F2C14B',
                        gray: '#838383',
                        black: '#282524',
                    }
                }
            }
        }
    </script>
    <title>Jazida Admin</title>
</head>

<body>

    <header class="absolute w-screen flex justify-center gap-10">
        <a href="/" class="bg-white rounded drop-shadow-[8px_8px_0px_#000000] py-1 px-2 text-gray cursor-pointer">
            <h1>Carregamentos</h1>
        </a>
        <a href="/clients"
            class="bg-white rounded drop-shadow-[8px_8px_0px_#000000] py-1 px-2 text-gray cursor-pointer">
            <h1>Clientes</h1>
        </a>
    </header>

    <main id="clients" class="h-screen w-screen bg-gray flex flex-col gap-10 justify-center items-center">
        {{ block "clients" . }}
        <table class="w-[60vw] table-auto rounded-2xl bg-white  drop-shadow-[16px_16px_0px_#000000] overflow-hidden">
            <thead>
                <tr class="bg-yellow rounded-2xl">
                    <th>Cliente</th>
                    <th>Placa</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Clients }}
                <tr class="text-center">
                    <td>{{ .Name }}</td>
                    <td>{{ .Plate }}</td>
                </tr>
                {{ end }}
                <td></td>
            </tbody>
        </table>
        <div id="new-client"
            class="bg-white rounded drop-shadow-[8px_8px_0px_#000000] py-1 px-2 text-gray cursor-pointer">
            <button hx-get="/new-client" hx-target="#new-client">
                Novo Cliente
            </button>
        </div>
        {{ end }}
    </main>
</body>

</html>

{{ block "new-client" .}}
<form hx-post="/new-client" hx-target="#clients">
    <input name="name" class="placeholder-gray h-full p-1" placeholder="Nome do cliente">
    <input name="plate" class="placeholder-gray h-full p-1" placeholder="Placa do cliente">
    <button class="text-lg">adicionar</button>
</form>
{{ end }}
